<!DOCTYPE html>
<html>
  <head>
    <title>
      Woo Forms
    </title>
  </head>
  <body>
    <div class="notice">
      <%=flash[:notice] if flash[:notice] %>
    </div>
    <div class="alert">
      <%=flash[:alert] if flash[:alert] %>
    </div>
    <%=yield %>
  </body>
</html>