<h2>User Signup</h2>

<form action="/users/new" method="POST">
  <label for="fname">First Name</label>
  <input type="text" name="[user]fname">
  <label for="lname">Last Name</label>
  <input type="text" name="[user]lname">
  <label for="email">Email</label>
  <input type="text" name="[user]email">
  <label for="password">Password</label>
  <input type="password" name="[user]password">
  <input type="submit">
</form>